:root{
    --blue-ncs: hsla(195, 100%, 39%, 1);
    --scarlet: hsla(11, 100%, 50%, 1);
    --isabelline: hsla(30, 29%, 95%, 1);
    --rebecca-purple: hsla(274, 53%, 37%, 1);
    --jet: hsla(36, 5%, 19%, 1);
}

