@import "colors.css";
.header {
	/* position: absolute; */
	bottom: 100;
	left: 0;
	width: 100%;
	background-color: var(--blue-ncs);
}

.nav-header {
	width: 100%;
	padding: 15px 0;
}

.nav-header .nav-mobi{
	display: none;
}

.nav-header .nav-header-list {
	display: flex;
	justify-content: space-evenly;
}

.nav-header .nav-header-list .ancor {
	color: var(--isabelline);
	text-decoration: none;
}

.main {

}

.footer {
	/* position: absolute; */
	padding: 10px 0;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: var(--blue-ncs);
	color: var(--isabelline);
}


@media screen and (max-width: 450px){
	/* body{
		background-color: black;
	} */
	.nav-header {
		padding: 23px 0;
	}
	.nav-header .nav-header-list {
		display: none;
	} 
	.nav-header .nav-mobi{
		display: flex;
	}
	.nav-header .nav-mobi .nav-menu{
		color: var(--isabelline)
	} 
}